<!--<div class="navbar navbar-default">-->
<div class="container-fluid" style="margin-bottom: 20px;">
    <!--<div class="navbar-default">-->
        <!--<div class="navbar-collapse collapse"  style="height: 0px;" ng-controller="userController">-->
        
             <!--<div class="navbar-brand">Sort by Likes | Hates | Date</div>-->
            <button  class="btn btn-default" ng-click="sortBy('likes')">Likes <span class="sortorder" ng-show="propertyName === 'likes'" ng-class="{reverse: reverse}"></span></button>
            
            
            <button class="btn btn-default" ng-click="sortBy('hates')">Hates <span class="sortorder" ng-show="propertyName === 'hates'" ng-class="{reverse: reverse}"></span></button>
            
            
            <button class="btn btn-default" ng-click="sortBy('published')">Date <span class="sortorder" ng-show="propertyName === 'published'" ng-class="{reverse: reverse}"></span> </button>
            <button ng-if='isLoggedIn' ng-click="$location.path('/addMovie')" class="btn btn-success" style="float:right;">Add Movie</button>
            
        
    </div>
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="row" ng-if="UserMovies"><div class="col-xs-1"><button ng-if='isLoggedIn' ng-click="loadMovies()" class="btn btn-danger" style="float:right;"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button></div><div class="col-xs-6"><h4 ng-if="movies[0].userId != globals.currentUser.userId">Movies by {{movies[0].user_firstname }}</h4><h4 ng-if="movies[0].userId == globals.currentUser.userId">Movies by you</h4></div></div>

<ul class="list-group ng-scope" ng-repeat="movie in movies | orderBy:propertyName:reverse">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-12">
                
                    <h2 style="color:#999;" class="venueName ng-binding">{{movie.title}}</h2>
                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <p style="color:#777;"><small>Posted by  <span ng-if='movie.userId == globals.currentUser.userId'><a ng-click="loadMoviesById(movie.userId)">You</a></span><span ng-if='movie.userId != globals.currentUser.userId'><a ng-click="loadMoviesById(movie.userId)">{{movie.user_firstname}} {{movie.user_lastname}}</a></span> {{ movie.published | timeAgo }}</small></p>
                <p>{{movie.description}}</p>
                <hr class="seperator">
                <div ng-if='!isLoggedIn'>
                    <span  ng-if='movie.likes != null || movie.hates != null'>{{movie.likes}} likes | {{movie.hates}} hates</span>
                </div>
                <div ng-if='isLoggedIn'>
                    <div ng-switch on="movie.userActivity.isAuthor">
                        <div ng-switch-when="1">
                            <span ng-if='movie.likes != null || movie.hates != null'>{{movie.likes}} likes | {{movie.hates}} hates</span>
                        </div>
                        <div ng-switch-default>
                            <div ng-switch on="movie.likes">
                                <div ng-switch-when=null>

                                    Be the first to vote for this movie <a ng-click='giveVote(1,movie.id)'> like </a> | <a ng-click='giveVote(0,movie.id)'> hate </a>
                                </div>
                                <div ng-switch-default>

                                    <div class="col-xs-6 col-md-6" ng-switch on="movie.userActivity.hasVote">
                                        <div ng-switch-when="1">
                                            {{movie.likes}} likes | <a ng-click='giveVote(0,movie.id)'>{{movie.hates}} hates</a>
                                        </div>
                                        <div ng-switch-when="0">
                                            <a ng-click='giveVote(1,movie.id)'> {{movie.likes}} likes </a> | {{movie.hates}} hates
                                        </div>
                                        <div ng-switch-default>
                                            <a ng-click='giveVote(1,movie.id)'> {{movie.likes}} likes </a> | <a ng-click='giveVote(0,movie.id)'> {{movie.hates}} hates </a> 
                                        </div>
                                    </div>
                                    <div  class="col-xs-6 col-md-6" ng-switch on="movie.userActivity.hasVote">
                                        <div ng-switch-when="1">
                                            You like this movie | <a ng-click='giveVote("1",movie.id)'>Unlike</a>
                                        </div>
                                        <div ng-switch-when="0">
                                            You hate this movie | <a ng-click='giveVote("0",movie.id)'>Unhate</a>
                                        </div>
                                        <div ng-switch-default>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>